/* Modal Overlay */
.modal-overlay-create {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow: hidden; /* Prevent scrolling on the background when modal is open */
}

/* Modal Content */
.modal-content-create {
    background-color: white;
    border-radius: 8px;
    width: 600px; /* Increased width */
    max-width: 90%; /* Allow better responsiveness on smaller screens */
    max-height: 80%; /* Limit height for overflow handling */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    animation: scaleIn 0.3s forwards;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* Scale-in animation for modal */
@keyframes scaleIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* Close button inside modal */
.modal-content-create .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    margin-left: auto;
}

/* Form labels and inputs inside modal */
.modal-content-create label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
}

/* Text Area for Description */
.modal-content-create textarea {
    width: 100%; /* Full width of the modal */
    padding: 10px;
    margin-top: 20px; /* Adjusted margin to ensure it appears below the label */
    margin-bottom: 20px; /* Space below the text area */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    resize: vertical; /* Allow vertical resizing */
    min-height: 120px; /* Minimum height for better visibility */
}

/* Input Fields */
.modal-content-create input[type="text"],
.modal-content-create input[type="number"],
.modal-content-create input[type="date"],
.modal-content-create select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* General button styles */
.modal-content-create button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    width: 100%; /* Full width for their respective categories */
}

/* Update Button Styles */
.save-button {
    background-color: #007bff;
    color: white;
}

.save-button:hover {
    background-color: #0056b3;
}

/* Close Button Styles */
.close-button {
    background-color: #C0C0C0;
    color: #333;
}

.close-button:hover {
    background-color: #A9A9A9;
}

/* Modal Footer (space between buttons) */
.modal-footer-create {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
