
.container-not-found {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
    height: 100vh; 
    text-align: center;
    background-color: #f8f9fa;  
    color: #333; 
}

.header-not-found {
    margin-bottom: 20px; 
}

.header-not-found img {
    max-width: 150px; 
    height: auto; 
}

h1 {
    font-size: 3rem; 
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #666;  
}
